<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View data</title>
</head>
<body>

 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Movie Box</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <select class="selectpicker mt-5 mt-md-0"" multiple title="Filter By" data-style="btn-info">
          <option>Director</option>
          <option>Genre</option>
          <option>Score</option>
          <option>Popular</option>
        </select>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search_box">
          <button class="btn btn-outline-success my-2 my-sm-0" id="search_button">Search</button>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

<div id="main_container">
    <div class="container mt-3">
        <div class="row">
            <div class="card-deck">
                {% for obj in obj_list %}
                <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                    <img class="card-img-top" src="https://placehold.it/280x140/abc" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a target="_blank" href=/view/{{obj.id}}/>{{ obj.name|upper }}</a> - ({{obj.imdb_score}})</h5>
                        <p class="card-text">
                            Director - <em>{{obj.director_name}}</em>
                            <br>
                            Genre - <em>{{obj.genre|lower}}</em>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
           {% if obj_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{obj_list.previous_page_number}}" tabindex="-1">Previous</a>
                </li>
           {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
           {% endif %}
          
           {% if obj_list.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ obj_list.next_page_number }}" tabindex="-1">Next</a>
                </li>
           {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="" tabindex="-1">Next</a>
                </li>
           {% endif %}
      </ul>
    <br>
    <center>
    <p>
      Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
    </p>
    </center>
    </nav>

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $("#search_button").click(function() {
        options_selected = $('.selectpicker').val();
        all_options = options_selected.join(',');
        s_text = $('#search_box').val();
        // do the extra stuff here
        $.ajax({
         type: "POST",
          url: "/search/",
          data: {"filters":all_options,"text":s_text},
          success: function(data) {
            console.log(data);
            $("#main_container").html(data);
            $("#main_container").resize()
          }
        })
      })
    });
    $('.selectpicker').selectpicker({
      style: 'btn-info',
      size: 4
    });
</script>
</body>
</html>
