<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<form method="POST" action="signUp">
    {% csrf_token %}

    

</form>

</body>
</html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>MovieBox - Register Form</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>

  <body class="text-center">
      <form method="POST" action="login" class="form-signin">
    	{% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
      <input type="text" name="username"  class="form-control" placeholder="Username"/>
	    <input type="text" name="email"  class="form-control" placeholder="Email Address"/>
  		<input type="password" name="password"  class="form-control" placeholder="Password"/>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
      <br>
      <p><strong><a href="/login/"></a></strong></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
  </body>
</html>