<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>


<table style="width:80%">
    <thead>
    <tr>
        {% if data %}
            <th>Director's Name:</th>
            <th>Genre</th>
            <th>Imdb Score</th>
            <th>Movie Name</th>
            <th>Popularity</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if data %}
        {% for d in data %}
        <tr>
            <td>{{ d.director_name }}</td>
            <td>{{ d.genre }}</td>
            <td>{{ d.imdb_score }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.popularity }}</td>
        </tr>
        {% endfor %}
    {% endif %}

    {% if not data %}
        "Sorry no data found"
    {% endif %}
    </tbody>
</table>
</body>
</html>
