<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            {% for obj in data %}
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://placehold.it/280x140/abc" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a target="_blank" href=/view/{{obj.id}}/>{{ obj.name|upper }}</a> - ({{obj.imdb_score}})</h5>
                    <p class="card-text">
                        Director - <em>{{obj.director_name}}</em>
                        <br>
                        Genre - <em>{{obj.genre|lower}}</em>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
