<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }

    </style>
</head>
<body>

<br>

<table style="width:80%">
    <thead>
    <tr>
        <th>Director's Name:</th>
        <th>Genre</th>
        <th>Imdb Score</th>
        <th>Movie Name</th>
        <th>Popularity</th>

    </tr>
    </thead>
    <tbody>
    {% if imdb_obj %}
    <tr>
        <td>{{ imdb_obj.director_name }}</td>
        <td>{{ imdb_obj.genre }}</td>
        <td>{{ imdb_obj.imdb_score }}</td>
        <td>{{ imdb_obj.name }}</td>
        <td>{{ imdb_obj.popularity }}</td>
    </tr>
    {% endif %}
    </tbody>
</table>

</body>
</html>